@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 5px rgba(244, 196, 48, 0.3), 0 0 0 0px rgba(244, 196, 48, 0.4);
  }
  50% {
    box-shadow: 0 0 25px rgba(244, 196, 48, 0.8), 0 0 0 8px rgba(244, 196, 48, 0);
  }
}

.animate-glow {
  animation: glow 2.5s infinite ease-in-out;
}
